/* Desktop viewport */
@media screen and (min-width: 1024px) {
body{background-color: #f5d2e8;}

  }
.cake{width: 100px;}

  /* Tablet viewport */

  @media screen and (min-width: 600px) and (max-width:1023px)
  {
    body {
      background-color: #bdfac3;
      font-size: 120%;
    }
    .cake{width: 80px;}
  }

  /* Smartphone viewport */
  @media screen and (max-width:599px){
    body {
        background-color: #fef1de;
        font-size: 140%;
      }
      .cake{width: 60px;}
  }
